- if amazon_book.isbn.present?
  %li.ellipsis 
    = link_to book_path(amazon_book.isbn) do
      .details
        %h5.title.ellipsis= amazon_book.title
        - if(amazon_book.authors.present?) 
          %p.authors.ellipsis= amazon_book.authors.join(", ")
        .publication.ellipsis
          - if(amazon_book.edition_binding.present?)
            <span class="binding">#{amazon_book.edition_binding}</span>
          - if(amazon_book.publication_date.present?)
            %time.publication-date{:datetime => amazon_book.publication_date.to_s}= amazon_book.publication_date.to_s(:short)
      = jacket_image(amazon_book.jacket_image, 40, amazon_book.title)
      %span.arrow
      - if amazon_book.in_stock?
        %div.stock in stock
