%li
  = link_to(event) do
    %h5.ellipsis= event.title
    %p.subtitle.ellipsis
      - if (event.is_sold_out)
        %span.sold-out Sold out
      = event.sub_title
    = time_tag event.start_time do
      = event.start_time.to_s :time
    %span.arrow
  