%h3= @title
- if @amazon_book.present?
  .book-detail.content.clearfix
    - if @amazon_book.jacket_image.present?
      %a.amazon-affiliate-link{:"data-remote" => "", :href => @amazon_book.amazon_affiliate_link}
        = jacket_image(@amazon_book.jacket_image, :width => 90, :alt => "Book jacket for #{@book.title}", :class => "jacket")
    - if @amazon_book.authors.present?
      %h4.authors by #{@amazon_book.authors.join(", ")}
    - if @amazon_book.product_description.present?
      %p.short-description= @amazon_book.product_description
    - if @amazon_book.amazon_review.present?
      .amazon-review
        %h4 Amazon.co.uk review
        = raw(@amazon_book.amazon_review)
    - if (@amazon_book.publisher.present? || @amazon_book.publication_date.present? || @amazon_book.page_count.present?)
      .book-info
        - if @amazon_book.publisher.present?
          <div class="publisher">#{@amazon_book.publisher}</div>
        - if @amazon_book.publication_date.present?
          <div><time class="publication-date" datetime="#{@amazon_book.publication_date.to_s}">#{@amazon_book.publication_date.to_s(:short)}</time></div>
        - if @amazon_book.page_count.present?
          <div class="page-count">#{@amazon_book.page_count} pages</div>
    %h4 Festival Bookshops
    = raw(availability(@book.stock_status))
    %p.info Our independent bookshops are open in Charlotte Square Gardens every day during the festival.
    - if @amazon_book.amazon_affiliate_link.present?
      %h4 Buy online
      %a.button.amazon-affiliate-link{:"data-remote" => "", :href => @amazon_book.amazon_affiliate_link} from Amazon.co.uk
    - if @kindle_book.present? || @itunes_link.present?
      %h4 E-book
      - if @kindle_book.present?
        %a.button.kindle-affiliate-link{:"data-remote" => "", :href => @kindle_book.amazon_affiliate_link} Buy for Kindle
      - if @itunes_link.present?
        %a.button.itunes-affiliate-link{:"data-remote" => "", :href => @itunes_link} Buy for iPad &amp; iPhone
      
- else
  .book-detail.content
    %p Details for <em>#{@book.title}</em> could not be found.