!!! 5
/[if IEMobile 7 ] <html class="no-js iem7" manifest="default.appcache?v=1">
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}
  %title EdBookFest #{"– " if @title}#{@title}
  %meta{:content => "", :name => "description"}
  %meta{:content => "", :name => "author"}
  %meta{:content => "True", :name => "HandheldFriendly"}
  %meta{:content => "320", :name => "MobileOptimized"}
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %link{:href => image_path("h/apple-touch-icon.png"), :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
  %link{:href => image_path("m/apple-touch-icon.png"), :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
  %link{:href => image_path("l/apple-touch-icon-precomposed.png"), :rel => "apple-touch-icon-precomposed"}
  %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
  %link{:rel => "apple-touch-startup-image", :href => image_path("l/splash.png") }
  %meta{:content => "on", "http-equiv" => "cleartype"}
  = stylesheet_link_tag :application
  = javascript_include_tag :head

%body{:class => @theme}
  #container
    %header
      %h1.ir= link_to "Edinburgh International Book Festival", root_path
      %h2= @section
    #main{:role => "main", :"data-pjax-container" => ""}
      = yield
  %footer
    .footer-links
      %a.back-to-top{:href => "#container", :"data-anchor" => ""} Back to top
      %a.desktop-site{:href => "http://www.edbookfest.co.uk", :"data-remote" => ""} Desktop site
    .logos
      %p.eibf.ir
        Edinburgh International Book Festival
      %p.guardian 
        %a.ir{:href => "http://m.guardian.co.uk/books", :"data-remote" => ""} In association with The Guardian
  #loading.ir{:style => "display:none"} Loading
  
  = javascript_include_tag :application
  :javascript
    MBP.scaleFix();
  / <script src="https://getfirebug.com/firebug-lite.js"></script>
  :javascript
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  
