!!! 5
/[if IEMobile 7 ] <html class="no-js iem7" manifest="default.appcache?v=1">
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}
  %title EdBookFest #{"– " if @title.present?}#{@title}
  %meta{:content => "The mobile website for the 2011 Edinburgh International Book Festival, 13-29 August 2011 at Charlotte Square Gardens, Edinburgh", :name => "description"}
  %meta{:content => "Edinburgh International Book Festival (admin@edbookfest.co.uk)", :name => "author"}
  %meta{:content => "True", :name => "HandheldFriendly"}
  %meta{:content => "320", :name => "MobileOptimized"}
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  - if @google_site_verification.present?
    %meta{:content => @google_site_verification, :name => "google-site-verification"}
  %link{:href => image_path("h/apple-touch-icon.png?2013"), :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
  %link{:href => image_path("m/apple-touch-icon.png?2013"), :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
  %link{:href => image_path("l/apple-touch-icon-precomposed.png?2013"), :rel => "apple-touch-icon-precomposed"}
  %link{:href => image_path("l/apple-touch-icon.png?2013"), :rel => "shortcut icon"}
  - if @canonical_url.present?
    %link{:rel => "canonical", :href => @canonical_url}
  %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
  %link{:rel => "apple-touch-startup-image", :href => image_path("l/splash.png?2013") }
  %meta{:content => "on", "http-equiv" => "cleartype"}
  = stylesheet_link_tag :application
  - if @use_bootstrap
    = stylesheet_link_tag :bootstrap


%body{:class => @theme}
  #container
    %header
      %h1.visuallyhidden Edinburgh International Book Festival
      %h2= @section
      = link_to "Home", root_path, :class => "button home"
    #main{:role => "main", :"data-pjax-container" => ""}
      = yield
  %footer
    .footer-links
      %a.back-to-top{:href => "#container", :"data-anchor" => ""} Back to top
      %a.desktop-site{:href => "http://www.edbookfest.co.uk", :"data-remote" => "", :"data-analytics-action" => "Desktop site"} Desktop site
    .logos
      %p.eibf.ir
        Edinburgh International Book Festival
      %p.guardian 
        In association with
        %a.ir{:href => "http://m.guardian.co.uk/books", :"data-remote" => "", :"data-analytics-action" => "Guardian Footer Logo"} The Guardian
  #loading{:style => "display:none"}
    %span.ir Loading
  = javascript_include_tag :application
  :javascript
    MBP.scaleFix();
  :javascript
    var _gaq=[["_setAccount","UA-2015076-5"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  
